@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');@import "tailwindcss";

/* Override Ant Design styles */
.ant-typography,
.ant-btn,
.ant-menu,
.ant-layout,
.ant-layout-header,
.ant-layout-footer,
.ant-layout-sider,
.ant-layout-content,
.ant-card,
.ant-table,
.ant-form,
.ant-input,
.ant-select,
.ant-dropdown,
.ant-message,
.ant-menu-item,
.ant-notification {
  font-family: 'Sarabun', sans-serif;
}

/* Custom styles for Sider */
.ant-layout-sider {
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Add dropshadow */
}

.ant-menu-item,
.ant-menu-submenu-title {
  color: #000000 !important;
}

.ant-menu-item-selected,
.ant-menu-item-active,
.ant-menu-submenu-title:hover {
  background-color: #262362 !important;
  color: #ffffff !important;
}

/* Logo container */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* Add dropshadow to Header */
.ant-layout-header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Add dropshadow */
}

/* Specific class for ContentTable */
/* .bg-jib::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/assets/bg-jib.png");
  background-color: #262362;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  z-index: -1;
} */

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}
